body {
    margin: 0;
    font-family: 'Roboto';
    min-width: 300px;
    max-width: 100%;
}

.nav{
    margin:0;
    color: #373d3f;
    padding: 12px;
    text-align: justify;
    font-family: 'Roboto', 'Bold';
    font-weight: bold;
    font-size: 36px;
    position: fixed;
    width: 100%;
    background-color: #ffdd2f;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.img{
    height: 40px;
    align-content: center;
    content: normal;
    vertical-align: middle;
    text-align: end;
}

.nav-btn{
    display: flex;
}

.contenedor-forms{
    display: block;
    align-items: center;
}

.form-cero{
    height:200px;
    padding-top: 5rem;
    border: solid;
    border-color: red;
    display:flex;
}

.form-primero{
    padding-top: 5rem;
    text-align: -webkit-center;
    align-items:flex-start;
    font-size: larger;
    /*background-image: url(/fondo.webp);*/
    background-color:#3ba6f3e7;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10px;
    display: block;
}

.section{

    width: 300px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgba(242, 238, 229, 0);
    align-items: flex-start;
    text-align: center;
    background-color:#0266AE;
    color: rgba(255, 255, 255, 0.97);
    font-weight: lighter;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.none{
    display: none;
}

.form-primero input{
    width: 250px;
    align-content: center;
    color: black;
    font-weight: lighter;
}

.section-f2{

    width:fit-content;
    max-width: 500px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(242, 238, 229, 0);
    border-radius: 5px;
    align-items:flex-start;
    text-align: center;
    background-color: rgba(242, 238, 229, 0.751);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-f2 div label{
    display: inline-block;
    width: 40px;
}


.mes{
    text-align: center;
    justify-content: center;
    align-items: end;
    width: 80px;
    align-self: center;
    align-content: center;
    }

.texto-info{
    font-size: 15px;
}

.form-segundo{
    background-color:rgb(182,204,215);
    text-align:  -webkit-center;
    align-items:flex-start;
    font-size: large;
    padding: 10px 0px;
    display: block;
}

.section-chart{
    background-color:rgb(182,204,215);
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
}

.myChart{
    align-items: center;
    align-content: center;
    text-align: center;
}

.hidden{
    display: none;
}

.form-tercero{
    padding-top: 15px;
    background: #0266AE;
    text-align: center;
    align-items:flex-start;
    font-size: large;
    padding-bottom: 10px;
    color: white;
    font-weight: lighter;
}

.section-f3 {
    padding-left: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(242, 238, 229, 0.751);
    align-items: center;
    justify-items: center;
    align-self: center;
    width:fit-content;
    display:inline-flex;
    margin: 30px;
    border-radius: 5px;
}

.col1{
    margin-right: 30px;
    color: black;
    text-align: start;
}

.form-cuarto{
    background-size: cover;
    background-position: center;
    background-image: url('/fondo_refri_2.jpg');
    text-align:-webkit-center;
    padding-bottom: 10px;
    padding-top: 50px;
}

.section-f4{
    width: 300px;
    border-style: solid;
    border-width: 20px;
    border-radius: 30px;
    border-color: rgba(242, 238, 229, 0);
    align-items:flex-start;
    text-align: center;
    background-color: rgba(242, 238, 229, 0.85);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
h3{
    margin: 13px;
}

h4{
    margin: 5px;
}

.espacios{
    margin-top: 6px;
}
.nav2{
    position: sticky;
    top: 0;
    margin:0px;
    color: white;
    padding: 12px 0px 12px 0px;
    text-align: left;
    font-family: 'Lora';
    font-size: 40px;
    width: 100%;
    background-color: #245CA7;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:space-between;
}

/*fin de pagina- estilos de elementos*/
button{
    border-color: black;
    border-style: solid;
    background-color: #ffffff;
    color: #006fb9;
    text-align: center;
    align-items: center;
    padding: 1px 10px;
    margin: 3px;
    border-radius: 40px;
    font-family: 'Roboto';
    font-weight: bold;
    border-width: 0px;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.2);
}

button:hover {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.24);
    background-color: #006fb9;
    transition: 0.3s;
    color: white;
    font-weight: lighter;
}


#ad{
    padding-bottom:0;
    display: block;
    color: white;
}

i{
    font-size: 14px;
}

footer{
    padding: 20px;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color:#0266AE;
    color: azure;
}


@media (max-width:560px){

    .section-f3{
        margin: 22px;
        font-size: 7px;
    }

    .chart{
        height: 50vh;
    }
    .nav{
        font-size: 20px;
    }


}
